* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(120deg, rgb(0, 225, 255), rgb(0, 255, 191));
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock {
  height: 300px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  border: 5px solid black;
  position: relative;
}

.clock .number {
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  transform: rotate(var(--rotation));
  font-size: 30px;
}

.clock .number1 {
  --rotation: 30deg;
}
.clock .number2 {
  --rotation: 60deg;
}
.clock .number3 {
  --rotation: 90deg;
}
.clock .number4 {
  --rotation: 120deg;
}
.clock .number5 {
  --rotation: 150deg;
}
.clock .number6 {
  --rotation: 180deg;
}
.clock .number7 {
  --rotation: 210deg;
}
.clock .number8 {
  --rotation: 240deg;
}
.clock .number9 {
  --rotation: 270deg;
}
.clock .number10 {
  --rotation: 300deg;
}
.clock .number11 {
  --rotation: 330deg;
}

.clock .hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  border: 1px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 10;
}

.clock .hand.second {
  width: 5px;
  height: 40%;
  background-color: rgb(241, 36, 36);
}

.clock .hand.minute {
  width: 7px;
  height: 40%;
  background-color: black;
}

.clock .hand.hour {
  width: 10px;
  height: 25%;
  background-color: black;
}

.clock::after {
  content: "";
  position: absolute;
  background-color: black;
  z-index: 11;
  width: 15px;
  height: 15px;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  border-radius: 50%;
}
